<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="51200" executionTimeout="300" />
    <pages controlRenderingCompatibilityVersion="4.0" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.aspx" />
    <sessionState mode="InProc" timeout="30" />
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <!-- Allow up to 50 MB uploads -->
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
    <staticContent>
      <mimeMap fileExtension=".csv" mimeType="text/csv" />
    </staticContent>
    <httpErrors errorMode="Custom">
      <remove statusCode="404" />
      <error statusCode="404" path="/Error.aspx" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>

  <appSettings>
    <add key="AppName" value="DataCleanup Tool" />
    <add key="AppVersion" value="1.0.0" />
    <add key="MaxUploadMB" value="50" />
  </appSettings>
</configuration>
