body {
      font-family: 'Georgia', serif;
      margin: 40px;
      background: #f8f8f8;
    }
    .container {
      background: #fff;
      max-width: 700px;
      margin: 32px auto 0 auto;
      padding: 40px 50px;
      box-shadow: 0 2px 12px rgba(0,0,0,0.07);
      border-radius: 8px;
    }
    .header {
      border-bottom: 2px solid #ccc;
      padding-bottom: 12px;
      margin-bottom: 18px;
      display: flex;
      flex-direction: column;
    }
    .name {
      font-size: 2.6em;
      font-weight: bold;
      line-height: 1.1;
      margin-bottom: 7px;
    }
    .title {
      font-size: 1.2em;
      font-weight: bold;
      letter-spacing: 1.5px;
      margin-bottom: 15px;
    }
    .contact-row {
      display: flex;
      justify-content: space-between;
      font-size: 1em;
      color: #222;
      margin-top: 10px;
      margin-bottom: 6px;
    }
    .recipients {
      font-weight: bold;
      margin-top: 30px;
      margin-bottom: 4px;
    }
    .recipient-address {
      margin-bottom: 24px;
      color: #222;
    }
    .greeting {
      font-weight: bold;
      margin-bottom: 12px;
    }
    .body-text {
      color: #232323;
      font-size: 1.07em;
      margin-bottom: 24px;
      line-height: 1.75;
    }
    .closing {
      font-weight: bold;
      margin-bottom: 6px;
    }
    .signature {
      font-size: 1.08em;
      margin-bottom: 35px;
    }
    hr {
      margin-top: 32px;
      margin-bottom: 32px;
      border: none;
      border-top: 1px solid #ccc;
    }
    nav { font-family:"roboto serif"; #0c0c0c; text-align: center; padding: 10px; }
    nav a { color: rgb(255, 255, 255); margin: 0 15px; text-decoration: none; font-weight: bold; }

    nav {
      font-size: 20px;
  background: #0c0c0c;
  text-align: center;
  padding: 10px;
  position: relative; 
}

nav a {
  color: rgb(255, 255, 255);
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
  position: relative; 
}

nav a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: #2078ff;
  transition: width 0.3s;
  position: absolute;
  bottom: -4px;
  left: 0;
}

nav a:hover::after {
  width: 100%;
}